/* h2{
    color: whitesmoke;
  }
  #allContainer{
    display: flex;
  }
  body{
    background-color: #007aff;
    font-family: 'Ubuntu', sans-serif;
  }
  #formDataContainer{
    width: 15%;
  }
  #tableContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  table {
      table-layout: fixed;
      border-collapse: collapse;
      background: rgba(255,255,255,0.5);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
  
      border-radius: 1% 1% 0 0;
      text-align: center;
    }
    
    td{
      color: black;
      border: 1px solid black;
      overflow: auto;
    }
    #encabezado{
      font-family: 'Ubuntu', 'Regular 400 Italic';
    }
    th, td {
      padding: 10px;
    }
  
    #formContainer{
      display: flex;
      align-items: center;
    }
  form{
    display: flex;
    flex-direction:column;
  }
  
  label{
   padding: 5px;
  }
  
  #loadButton{
    margin-top: 5px;
  }
  
  
  table td:nth-child(1){
    width: 15%;
  }
  table td:nth-child(2){
    width: 7%;
  }
  table td:nth-child(5){
    width: 5%;
  }
  table td:nth-child(6){
    width: 25%;
  }
  table td:nth-child(7){
    width: 5%;
  }
  table td:nth-child(8){
    width: 5%;
  }
  table td:nth-child(9){
    width: 5%;
  }
  
  
  .allContainer{
    display:flex;
    flex-direction: column;
  }
  
  .formDataContainer{
    width: 20%;
  }
  .productsContainer{
  max-width: 70%;
  } */

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .product-container {
    display: flex;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-thumbnail {
    width: 300px;
    height: auto;
    border-radius: 5px 0 0 5px;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .product-title {
    font-size: 24px;
    margin: 0;
  }
  
  .product-description {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .product-category,
  .product-code,
  .product-price,
  .product-stock {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .add-to-cart-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  