<link rel="stylesheet" href="../public/css/notfound.style.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

<div class="error-container">
    <h1>404</h1>
    <h2>Error - Page not found</h2>
    <p>{{messege}}</p>
    <p>Sorry, the page you are looking for does not exist. Go back to <a href="/">Login</a>.</p>
</div>