<link rel="stylesheet" href="../public/css/restorePassword.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

<div class="container">
  <h2 class="title">Reset your password</h2>
  <p id="message">Enter your user account's verified email address and we will send you a password reset link.</p>
  <form id="form" action='/restore' method="post" id="loginForm">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <div class="button-group">
      <button type="submit" class="sendMail-button">Send password reset email</button>
    </div>
  </form>
    {{#if messageSend}}
    <div id="validation" style="display: none;">
      <p>{{messageSend}}</p>
    </div>
  {{/if}}
</div>

<script src="../public/js/restorePassword.js"></script>