body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form input, form select {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 90%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #3498db;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.edit-btn, .delete-btn{
    padding: 5px 10px;
    height: 30px;
    width: 50px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2px auto;
    margin-bottom: 2px;
}

.delete-btn {
    background-color: #e74c3c;
}

.edit-btn {
    background-color: #27ae60;
}

.filter-btn{
    background-color: #3498db;
    padding: 5px 10px;
    height: 50px;
    width: 100px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2px auto;
    margin-bottom: 2px;
}

.titleProducts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
}