h2{
  color: whitesmoke;
}

body{
  background-color: #007aff;
  font-family: 'Ubuntu', sans-serif;
}
#tableContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* border: 1px solid rgba(255,255,255,0.25); */
    border-radius: 1% 1% 0 0;
    text-align: center;
    
  }
  
  td{
    color: black;
    border: 1px solid black;
    overflow: auto;
  }
  #encabezado{
    font-family: 'Ubuntu', 'Regular 400 Italic';
  }
  th, td {
    padding: 10px;
  }


  table td:nth-child(1){
    width: 5%;

  }
  table td:nth-child(5){
    width: 5%;
  }
  table td:nth-child(6){
    width: 25%;
  }
  table td:nth-child(7){
    width: 5%;
  }
  table td:nth-child(8){
    width: 5%;
  }
  table td:nth-child(9){
    width: 5%;
  }
