{{!-- Handlebar de searchabr --}}
<link rel="stylesheet" href="../../public/css/searchbar.style.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">

<div class="sidebar">
    <label for="productsPerPage">Products per page</label>
    <select id="productsPerPage">
        <option value="12">12</option>
        <option value="16">16</option>
        <option value="20">20</option>
    </select>

    <label for="orderByPrice">Order by price</label>
    <select id="orderByPrice">
        <option value=1>Lowest price first</option>
        <option value=-1>Highest price first</option>
    </select>

    <label>Filter by category</label>
    <div>
        <label><input type="radio" name="category" value="Camisetas"> Camisetas</label>
        <label><input type="radio" name="category" value="Pantalones"> Pantalones</label>
        <label><input type="radio" name="category" value="Buzos"> Buzos</label>
        <label><input type="radio" name="category" value="Remeras"> Remeras</label>
        <label><input type="radio" name="category" value="Antiparras"> Antiparras</label>
        <label><input type="radio" name="category" value="Zapatillas"> Zapatillas</label>
    </div>

    <label for="filterByStock">Filter by stock</label>
    <select id="filterByStock">
        <option value=true>Stock</option>
        <option value="noStock">No Stock</option>
    </select>
</div>

<script src="../../public/js/searchbar.js"></script>